# Data is from EBay. Classified section of the German eBay Website

In [1]:
import pandas as pd
import numpy as np

In [2]:
autos = pd.read_csv('autos.csv', encoding= 'Latin-1')

In [3]:
autos

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,odometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÃœV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50
5,2016-03-21 13:47:45,Chrysler_Grand_Voyager_2.8_CRD_Aut.Limited_Sto...,privat,Angebot,"$7,900",test,bus,2006,automatik,150,voyager,"150,000km",4,diesel,chrysler,NaN,2016-03-21 00:00:00,0,22962,2016-04-06 09:45:21
6,2016-03-20 17:55:21,VW_Golf_III_GT_Special_Electronic_Green_Metall...,privat,Angebot,$300,test,limousine,1995,manuell,90,golf,"150,000km",8,benzin,volkswagen,NaN,2016-03-20 00:00:00,0,31535,2016-03-23 02:48:59
7,2016-03-16 18:55:19,Golf_IV_1.9_TDI_90PS,privat,Angebot,"$1,990",control,limousine,1998,manuell,90,golf,"150,000km",12,diesel,volkswagen,nein,2016-03-16 00:00:00,0,53474,2016-04-07 03:17:32
8,2016-03-22 16:51:34,Seat_Arosa,privat,Angebot,$250,test,NaN,2000,manuell,0,arosa,"150,000km",10,NaN,seat,nein,2016-03-22 00:00:00,0,7426,2016-03-26 18:18:10
9,2016-03-16 13:47:02,Renault_Megane_Scenic_1.6e_RT_Klimaanlage,privat,Angebot,$590,control,bus,1997,manuell,90,megane,"150,000km",7,benzin,renault,nein,2016-03-16 00:00:00,0,15749,2016-04-06 10:46:35
10,2016-03-15 01:41:36,VW_Golf_Tuning_in_siber/grau,privat,Angebot,$999,test,NaN,2017,manuell,90,NaN,"150,000km",4,benzin,volkswagen,nein,2016-03-14 00:00:00,0,86157,2016-04-07 03:16:21
11,2016-03-16 18:45:34,Mercedes_A140_Motorschaden,privat,Angebot,$350,control,NaN,2000,NaN,0,NaN,"150,000km",0,benzin,mercedes_benz,NaN,2016-03-16 00:00:00,0,17498,2016-03-16 18:45:34
12,2016-03-31 19:48:22,Smart_smart_fortwo_coupe_softouch_pure_MHD_Pan...,privat,Angebot,"$5,299",control,kleinwagen,2010,automatik,71,fortwo,"50,000km",9,benzin,smart,nein,2016-03-31 00:00:00,0,34590,2016-04-06 14:17:52
13,2016-03-23 10:48:32,Audi_A3_1.6_tuning,privat,Angebot,"$1,350",control,limousine,1999,manuell,101,a3,"150,000km",11,benzin,audi,nein,2016-03-23 00:00:00,0,12043,2016-04-01 14:17:13
14,2016-03-23 11:50:46,Renault_Clio_3__Dynamique_1.2__16_V;_viele_Ver...,privat,Angebot,"$3,999",test,kleinwagen,2007,manuell,75,clio,"150,000km",9,benzin,renault,NaN,2016-03-23 00:00:00,0,81737,2016-04-01 15:46:47
15,2016-04-01 12:06:20,Corvette_C3_Coupe_T_Top_Crossfire_Injection,privat,Angebot,"$18,900",test,coupe,1982,automatik,203,NaN,"80,000km",6,benzin,sonstige_autos,nein,2016-04-01 00:00:00,0,61276,2016-04-02 21:10:48
16,2016-03-16 14:59:02,Opel_Vectra_B_Kombi,privat,Angebot,$350,test,kombi,1999,manuell,101,vectra,"150,000km",5,benzin,opel,nein,2016-03-16 00:00:00,0,57299,2016-03-18 05:29:37
17,2016-03-29 11:46:22,Volkswagen_Scirocco_2_G60,privat,Angebot,"$5,500",test,coupe,1990,manuell,205,scirocco,"150,000km",6,benzin,volkswagen,nein,2016-03-29 00:00:00,0,74821,2016-04-05 20:46:26
18,2016-03-26 19:57:44,Verkaufen_mein_bmw_e36_320_i_touring,privat,Angebot,$300,control,bus,1995,manuell,150,3er,"150,000km",0,benzin,bmw,NaN,2016-03-26 00:00:00,0,54329,2016-04-02 12:16:41
19,2016-03-17 13:36:21,mazda_tribute_2.0_mit_gas_und_tuev_neu_2018,privat,Angebot,"$4,150",control,suv,2004,manuell,124,andere,"150,000km",2,lpg,mazda,nein,2016-03-17 00:00:00,0,40878,2016-03-17 14:45:58
20,2016-03-05 19:57:31,Audi_A4_Avant_1.9_TDI_*6_Gang*AHK*Klimatronik*...,privat,Angebot,"$3,500",test,kombi,2003,manuell,131,a4,"150,000km",5,diesel,audi,NaN,2016-03-05 00:00:00,0,53913,2016-03-07 05:46:46
21,2016-03-06 19:07:10,Porsche_911_Carrera_4S_Cabrio,privat,Angebot,"$41,500",test,cabrio,2004,manuell,320,911,"150,000km",4,benzin,porsche,nein,2016-03-06 00:00:00,0,65428,2016-04-05 23:46:19
22,2016-03-28 20:50:54,MINI_Cooper_S_Cabrio,privat,Angebot,"$25,450",control,cabrio,2015,manuell,184,cooper,"10,000km",1,benzin,mini,nein,2016-03-28 00:00:00,0,44789,2016-04-01 06:45:30
23,2016-03-10 19:55:34,Peugeot_Boxer_2_2_HDi_120_Ps_9_Sitzer_inkl_Klima,privat,Angebot,"$7,999",control,bus,2010,manuell,120,NaN,"150,000km",2,diesel,peugeot,nein,2016-03-10 00:00:00,0,30900,2016-03-17 08:45:17
24,2016-04-03 11:57:02,BMW_535i_xDrive_Sport_Aut.,privat,Angebot,"$48,500",control,limousine,2014,automatik,306,5er,"30,000km",12,benzin,bmw,nein,2016-04-03 00:00:00,0,22547,2016-04-07 13:16:50
25,2016-03-21 21:56:18,Ford_escort_kombi_an_bastler_mit_ghia_ausstattung,privat,Angebot,$90,control,kombi,1996,manuell,116,NaN,"150,000km",4,benzin,ford,ja,2016-03-21 00:00:00,0,27574,2016-04-01 05:16:49
26,2016-04-03 22:46:28,Volkswagen_Polo_Fox,privat,Angebot,$777,control,kleinwagen,1992,manuell,54,polo,"125,000km",2,benzin,volkswagen,nein,2016-04-03 00:00:00,0,38110,2016-04-05 23:46:48
27,2016-03-27 18:45:01,Hat_einer_Ahnung_mit_Ford_Galaxy_HILFE,privat,Angebot,$0,control,NaN,2005,NaN,0,NaN,"150,000km",0,NaN,ford,NaN,2016-03-27 00:00:00,0,66701,2016-03-27 18:45:01
28,2016-03-19 21:56:19,MINI_Cooper_D,privat,Angebot,"$5,250",control,kleinwagen,2007,manuell,110,cooper,"150,000km",7,diesel,mini,ja,2016-03-19 00:00:00,0,15745,2016-04-07 14:58:48
29,2016-04-02 12:45:44,Mercedes_Benz_E_320_T_CDI_Avantgarde_DPF7_Sitz...,privat,Angebot,"$4,999",test,kombi,2004,automatik,204,e_klasse,"150,000km",10,diesel,mercedes_benz,nein,2016-04-02 00:00:00,0,47638,2016-04-02 12:45:44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49970,2016-03-21 22:47:37,c4_Grand_Picasso_mit_Automatik_Leder_Navi_Temp...,privat,Angebot,"$15,800",control,bus,2010,automatik,136,c4,"60,000km",4,diesel,citroen,nein,2016-03-21 00:00:00,0,14947,2016-04-07 04:17:34
49971,2016-03-29 14:54:12,W.Lupo_1.0,privat,Angebot,$950,test,kleinwagen,2001,manuell,50,lupo,"150,000km",4,benzin,volkswagen,nein,2016-03-29 00:00:00,0,65197,2016-03-29 20:41:51
49972,2016-03-26 22:25:23,Mercedes_Benz_Vito_115_CDI_Extralang_Aut.,privat,Angebot,"$3,300",control,bus,2004,automatik,150,vito,"150,000km",10,diesel,mercedes_benz,ja,2016-03-26 00:00:00,0,65326,2016-03-28 11:28:18
49973,2016-03-27 05:32:39,Mercedes_Benz_SLK_200_Kompressor,privat,Angebot,"$6,000",control,cabrio,2004,manuell,163,slk,"150,000km",11,benzin,mercedes_benz,nein,2016-03-27 00:00:00,0,53567,2016-03-27 08:25:24
49974,2016-03-20 10:52:31,Golf_1_Cabrio_Tuev_Neu_viele_Extras_alles_eing...,privat,Angebot,$0,control,cabrio,1983,manuell,70,golf,"150,000km",2,benzin,volkswagen,nein,2016-03-20 00:00:00,0,8209,2016-03-27 19:48:16
49975,2016-03-27 20:51:39,Honda_Jazz_1.3_DSi_i_VTEC_IMA_CVT_Comfort,privat,Angebot,"$9,700",control,kleinwagen,2012,automatik,88,jazz,"100,000km",11,hybrid,honda,nein,2016-03-27 00:00:00,0,84385,2016-04-05 19:45:34
49976,2016-03-19 18:56:05,Audi_80_Avant_2.6_E__Vollausstattung!!_Einziga...,privat,Angebot,"$5,900",test,kombi,1992,automatik,150,80,"150,000km",12,benzin,audi,nein,2016-03-19 00:00:00,0,36100,2016-04-07 06:16:44
49977,2016-03-31 18:37:18,Mercedes_Benz_C200_Cdi_W203,privat,Angebot,"$5,500",control,limousine,2003,manuell,116,c_klasse,"150,000km",2,diesel,mercedes_benz,nein,2016-03-31 00:00:00,0,33739,2016-04-06 12:16:11
49978,2016-04-04 10:37:14,Mercedes_Benz_E_200_Classic,privat,Angebot,$900,control,limousine,1996,automatik,136,e_klasse,"150,000km",9,benzin,mercedes_benz,ja,2016-04-04 00:00:00,0,24405,2016-04-06 12:44:20
49979,2016-03-20 18:38:40,Volkswagen_Polo_1.6_TDI_Style,privat,Angebot,"$11,000",test,kleinwagen,2011,manuell,90,polo,"70,000km",11,diesel,volkswagen,nein,2016-03-20 00:00:00,0,48455,2016-04-07 01:45:12
49980,2016-03-12 10:55:54,Ford_Escort_Turnier_16V,privat,Angebot,$400,control,kombi,1995,manuell,105,escort,"125,000km",3,benzin,ford,NaN,2016-03-12 00:00:00,0,56218,2016-04-06 17:16:49
49981,2016-03-15 09:38:21,Opel_Astra_Kombi_mit_Anhaengerkupplung,privat,Angebot,"$2,000",control,kombi,1998,manuell,115,astra,"150,000km",12,benzin,opel,nein,2016-03-15 00:00:00,0,86859,2016-04-05 17:21:46
49982,2016-03-29 18:51:08,Skoda_Fabia_4_Tuerer_Bj:2004__85.000Tkm,privat,Angebot,"$1,950",control,kleinwagen,2004,manuell,0,fabia,"90,000km",7,benzin,skoda,NaN,2016-03-29 00:00:00,0,45884,2016-03-29 18:51:08
49983,2016-03-06 12:43:04,Ford_focus_99,privat,Angebot,$600,test,kleinwagen,1999,manuell,101,focus,"150,000km",4,benzin,ford,NaN,2016-03-06 00:00:00,0,52477,2016-03-09 06:16:08
49984,2016-03-31 22:48:48,Student_sucht_ein__Anfaengerauto___ab_2000_BJ_...,privat,Angebot,$0,test,NaN,2000,NaN,0,NaN,"150,000km",0,NaN,sonstige_autos,NaN,2016-03-31 00:00:00,0,12103,2016-04-02 19:44:53
49985,2016-04-02 16:38:23,Verkaufe_meinen_vw_vento!,privat,Angebot,"$1,000",control,NaN,1995,automatik,0,NaN,"150,000km",0,benzin,volkswagen,NaN,2016-04-02 00:00:00,0,30900,2016-04-06 15:17:52
49986,2016-04-04 20:46:02,Chrysler_300C_3.0_CRD_DPF_Automatik_Voll_Ausst...,privat,Angebot,"$15,900",control,limousine,2010,automatik,218,300c,"125,000km",11,diesel,chrysler,nein,2016-04-04 00:00:00,0,73527,2016-04-06 23:16:00
49987,2016-03-22 20:47:27,Audi_A3_Limousine_2.0_TDI_DPF_Ambition__NAVI__...,privat,Angebot,"$21,990",control,limousine,2013,manuell,150,a3,"50,000km",11,diesel,audi,nein,2016-03-22 00:00:00,0,94362,2016-03-26 22:46:06
49988,2016-03-28 19:49:51,BMW_330_Ci,privat,Angebot,"$9,550",control,coupe,2001,manuell,231,3er,"150,000km",10,benzin,bmw,nein,2016-03-28 00:00:00,0,83646,2016-04-07 02:17:40
49989,2016-03-11 19:50:37,VW_Polo_zum_Ausschlachten_oder_Wiederaufbau,privat,Angebot,$150,test,kleinwagen,1997,manuell,0,polo,"150,000km",5,benzin,volkswagen,ja,2016-03-11 00:00:00,0,21244,2016-03-12 10:17:55
49990,2016-03-21 19:54:19,Mercedes_Benz_A_200__BlueEFFICIENCY__Urban,privat,Angebot,"$17,500",test,limousine,2012,manuell,156,a_klasse,"30,000km",12,benzin,mercedes_benz,nein,2016-03-21 00:00:00,0,58239,2016-04-06 22:46:57
49991,2016-03-06 15:25:19,Kleinwagen,privat,Angebot,$500,control,NaN,2016,manuell,0,twingo,"150,000km",0,benzin,renault,NaN,2016-03-06 00:00:00,0,61350,2016-03-06 18:24:19
49992,2016-03-10 19:37:38,Fiat_Grande_Punto_1.4_T_Jet_16V_Sport,privat,Angebot,"$4,800",control,kleinwagen,2009,manuell,120,andere,"125,000km",9,lpg,fiat,nein,2016-03-10 00:00:00,0,68642,2016-03-13 01:44:51
49993,2016-03-15 18:47:35,Audi_A3__1_8l__Silber;_schoenes_Fahrzeug,privat,Angebot,"$1,650",control,kleinwagen,1997,manuell,0,NaN,"150,000km",7,benzin,audi,NaN,2016-03-15 00:00:00,0,65203,2016-04-06 19:46:53
49994,2016-03-22 17:36:42,Audi_A6__S6__Avant_4.2_quattro_eventuell_Tausc...,privat,Angebot,"$5,000",control,kombi,2001,automatik,299,a6,"150,000km",1,benzin,audi,nein,2016-03-22 00:00:00,0,46537,2016-04-06 08:16:39
49995,2016-03-27 14:38:19,Audi_Q5_3.0_TDI_qu._S_tr.__Navi__Panorama__Xenon,privat,Angebot,"$24,900",control,limousine,2011,automatik,239,q5,"100,000km",1,diesel,audi,nein,2016-03-27 00:00:00,0,82131,2016-04-01 13:47:40
49996,2016-03-28 10:50:25,Opel_Astra_F_Cabrio_Bertone_Edition___TÃœV_neu+...,privat,Angebot,"$1,980",control,cabrio,1996,manuell,75,astra,"150,000km",5,benzin,opel,nein,2016-03-28 00:00:00,0,44807,2016-04-02 14:18:02
49997,2016-04-02 14:44:48,Fiat_500_C_1.2_Dualogic_Lounge,privat,Angebot,"$13,200",test,cabrio,2014,automatik,69,500,"5,000km",11,benzin,fiat,nein,2016-04-02 00:00:00,0,73430,2016-04-04 11:47:27
49998,2016-03-08 19:25:42,Audi_A3_2.0_TDI_Sportback_Ambition,privat,Angebot,"$22,900",control,kombi,2013,manuell,150,a3,"40,000km",11,diesel,audi,nein,2016-03-08 00:00:00,0,35683,2016-04-05 16:45:07
49999,2016-03-14 00:42:12,Opel_Vectra_1.6_16V,privat,Angebot,"$1,250",control,limousine,1996,manuell,101,vectra,"150,000km",1,benzin,opel,nein,2016-03-13 00:00:00,0,45897,2016-04-06 21:18:48

In [4]:
autos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
dateCrawled            50000 non-null object
name                   50000 non-null object
seller                 50000 non-null object
offerType              50000 non-null object
price                  50000 non-null object
abtest                 50000 non-null object
vehicleType            44905 non-null object
yearOfRegistration     50000 non-null int64
gearbox                47320 non-null object
powerPS                50000 non-null int64
model                  47242 non-null object
odometer               50000 non-null object
monthOfRegistration    50000 non-null int64
fuelType               45518 non-null object
brand                  50000 non-null object
notRepairedDamage      40171 non-null object
dateCreated            50000 non-null object
nrOfPictures           50000 non-null int64
postalCode             50000 non-null int64
lastSeen               50000 non-null object
dtypes: int64(5), object(15)
memory usage: 7.6+ MB

In [5]:
autos.head()

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,odometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÃœV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50

### Names are separated by underscores
### Price has dollar sign
### odometer has 'km'
### HAH it says 'nein'. German

In [6]:
autos.columns

Index(['dateCrawled', 'name', 'seller', 'offerType', 'price', 'abtest',
       'vehicleType', 'yearOfRegistration', 'gearbox', 'powerPS', 'model',
       'odometer', 'monthOfRegistration', 'fuelType', 'brand',
       'notRepairedDamage', 'dateCreated', 'nrOfPictures', 'postalCode',
       'lastSeen'],
      dtype='object')

In [7]:
cols = ['date_crawled', 'name', 'seller', 'offer_type', 'price', 'abtest',
        'vehicle_type', 'registration_year', 'gearbox', 'power_ps', 'model',
        'odometer', 'registration_month', 'fuel_type', 'brand',
        'unrepaired_damage', 'ad_created', 'nr_of_pictures', 'postal_code',
        'last_seen']
autos.columns = cols

In [8]:
autos.head()

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,registration_year,gearbox,power_ps,model,odometer,registration_month,fuel_type,brand,unrepaired_damage,ad_created,nr_of_pictures,postal_code,last_seen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÃœV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50

### Changed the format of the header from camelcase to snakecase

In [9]:
autos.describe(include = 'all')

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,registration_year,gearbox,power_ps,model,odometer,registration_month,fuel_type,brand,unrepaired_damage,ad_created,nr_of_pictures,postal_code,last_seen
count,50000,50000,50000,50000,50000,50000,44905,50000.000000,47320,50000.000000,47242,50000,50000.000000,45518,50000,40171,50000,50000.0,50000.000000,50000
unique,48213,38754,2,2,2357,2,8,NaN,2,NaN,245,13,NaN,7,40,2,76,NaN,NaN,39481
top,2016-03-27 22:55:05,Ford_Fiesta,privat,Angebot,$0,test,limousine,NaN,manuell,NaN,golf,"150,000km",NaN,benzin,volkswagen,nein,2016-04-03 00:00:00,NaN,NaN,2016-04-07 06:17:27
freq,3,78,49999,49999,1421,25756,12859,NaN,36993,NaN,4024,32424,NaN,30107,10687,35232,1946,NaN,NaN,8
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2005.073280,NaN,116.355920,NaN,NaN,5.723360,NaN,NaN,NaN,NaN,0.0,50813.627300,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,105.712813,NaN,209.216627,NaN,NaN,3.711984,NaN,NaN,NaN,NaN,0.0,25779.747957,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1000.000000,NaN,0.000000,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,0.0,1067.000000,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1999.000000,NaN,70.000000,NaN,NaN,3.000000,NaN,NaN,NaN,NaN,0.0,30451.000000,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2003.000000,NaN,105.000000,NaN,NaN,6.000000,NaN,NaN,NaN,NaN,0.0,49577.000000,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008.000000,NaN,150.000000,NaN,NaN,9.000000,NaN,NaN,NaN,NaN,0.0,71540.000000,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9999.000000,NaN,17700.000000,NaN,NaN,12.000000,NaN,NaN,NaN,NaN,0.0,99998.000000,NaN

In [10]:
autos['nr_of_pictures'].value_counts()

0    50000
Name: nr_of_pictures, dtype: int64

In [11]:
autos['registration_month'].value_counts()

0     5075
3     5071
6     4368
5     4107
4     4102
7     3949
10    3651
12    3447
9     3389
11    3360
1     3282
8     3191
2     3008
Name: registration_month, dtype: int64

### Price and Odometer can probably lose the dollar sign and km respectively

In [12]:
autos['price'] = (autos['price']
                  .str.replace('$','')
                  .str.replace(',','')
                  .astype(float)
                 )

In [13]:
autos['odometer'] = (autos['odometer']
                     .str.replace('km','')
                     .str.replace(',','')
                     .astype(float)
                    )

In [14]:
autos.rename(columns = {'odometer': 'odometer_km'}, inplace=True)

## Explore the data, starting with Odometer_km and price

In [15]:
autos['odometer_km'].value_counts(ascending = True)

10000.0       264
20000.0       784
30000.0       789
40000.0       819
5000.0        967
50000.0      1027
60000.0      1164
70000.0      1230
80000.0      1436
90000.0      1757
100000.0     2169
125000.0     5170
150000.0    32424
Name: odometer_km, dtype: int64

In [16]:
autos['odometer_km'].describe()

count     50000.000000
mean     125732.700000
std       40042.211706
min        5000.000000
25%      125000.000000
50%      150000.000000
75%      150000.000000
max      150000.000000
Name: odometer_km, dtype: float64

In [17]:
autos['price'].value_counts().sort_index(ascending = False)

99999999.0       1
27322222.0       1
12345678.0       3
11111111.0       2
10000000.0       1
3890000.0        1
1300000.0        1
1234566.0        1
999999.0         2
999990.0         1
350000.0         1
345000.0         1
299000.0         1
295000.0         1
265000.0         1
259000.0         1
250000.0         1
220000.0         1
198000.0         1
197000.0         1
194000.0         1
190000.0         1
180000.0         1
175000.0         1
169999.0         1
169000.0         1
163991.0         1
163500.0         1
155000.0         1
151990.0         1
              ...
66.0             1
65.0             5
60.0             9
59.0             1
55.0             2
50.0            49
49.0             4
47.0             1
45.0             4
40.0             6
35.0             1
30.0             7
29.0             1
25.0             5
20.0             4
18.0             1
17.0             3
15.0             2
14.0             1
13.0             2
12.0             3
11.0             2
10.0             7
9.0              1
8.0              1
5.0              2
3.0              1
2.0              3
1.0            156
0.0           1421
Name: price, Length: 2357, dtype: int64

In [18]:
autos.loc[autos['price'] == 0].head()

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,registration_year,gearbox,power_ps,model,odometer_km,registration_month,fuel_type,brand,unrepaired_damage,ad_created,nr_of_pictures,postal_code,last_seen
27,2016-03-27 18:45:01,Hat_einer_Ahnung_mit_Ford_Galaxy_HILFE,privat,Angebot,0.0,control,NaN,2005,NaN,0,NaN,150000.0,0,NaN,ford,NaN,2016-03-27 00:00:00,0,66701,2016-03-27 18:45:01
71,2016-03-28 19:39:35,Suche_Opel_Astra_F__Corsa_oder_Kadett_E_mit_Re...,privat,Angebot,0.0,control,NaN,1990,manuell,0,NaN,5000.0,0,benzin,opel,NaN,2016-03-28 00:00:00,0,4552,2016-04-07 01:45:48
80,2016-03-09 15:57:57,Nissan_Primera_Hatchback_1_6_16v_73_Kw___99Ps_...,privat,Angebot,0.0,control,coupe,1999,manuell,99,primera,150000.0,3,benzin,nissan,ja,2016-03-09 00:00:00,0,66903,2016-03-09 16:43:50
87,2016-03-29 23:37:22,Bmw_520_e39_zum_ausschlachten,privat,Angebot,0.0,control,NaN,2000,NaN,0,5er,150000.0,0,NaN,bmw,NaN,2016-03-29 00:00:00,0,82256,2016-04-06 21:18:15
99,2016-04-05 09:48:54,Peugeot_207_CC___Cabrio_Bj_2011,privat,Angebot,0.0,control,cabrio,2011,manuell,0,2_reihe,60000.0,7,diesel,peugeot,nein,2016-04-05 00:00:00,0,99735,2016-04-07 12:17:34

In [19]:
# Weird numbers due to weird distribtuion of prices in the price columns
autos['price'].describe()

count    5.000000e+04
mean     9.840044e+03
std      4.811044e+05
min      0.000000e+00
25%      1.100000e+03
50%      2.950000e+03
75%      7.200000e+03
max      1.000000e+08
Name: price, dtype: float64

In [20]:
autos['price'].max()

99999999.0

### Getting rid of the rows that seem like outliers

In [21]:
autos[autos['price'].between(350001,100000000000)].head()

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,registration_year,gearbox,power_ps,model,odometer_km,registration_month,fuel_type,brand,unrepaired_damage,ad_created,nr_of_pictures,postal_code,last_seen
514,2016-03-17 09:53:08,Ford_Focus_Turnier_1.6_16V_Style,privat,Angebot,999999.0,test,kombi,2009,manuell,101,focus,125000.0,4,benzin,ford,nein,2016-03-17 00:00:00,0,12205,2016-04-06 07:17:35
2897,2016-03-12 21:50:57,Escort_MK_1_Hundeknochen_zum_umbauen_auf_RS_2000,privat,Angebot,11111111.0,test,limousine,1973,manuell,48,escort,50000.0,3,benzin,ford,nein,2016-03-12 00:00:00,0,94469,2016-03-12 22:45:27
7814,2016-04-04 11:53:31,Ferrari_F40,privat,Angebot,1300000.0,control,coupe,1992,NaN,0,NaN,50000.0,12,NaN,sonstige_autos,nein,2016-04-04 00:00:00,0,60598,2016-04-05 11:34:11
11137,2016-03-29 23:52:57,suche_maserati_3200_gt_Zustand_unwichtig_laufe...,privat,Angebot,10000000.0,control,coupe,1960,manuell,368,NaN,100000.0,1,benzin,sonstige_autos,nein,2016-03-29 00:00:00,0,73033,2016-04-06 21:18:11
22947,2016-03-22 12:54:19,Bmw_530d_zum_ausschlachten,privat,Angebot,1234566.0,control,kombi,1999,automatik,190,NaN,150000.0,2,diesel,bmw,NaN,2016-03-22 00:00:00,0,17454,2016-04-02 03:17:32

In [22]:
bins = np.arange(-100, 10000, 100)
#autos['price'].sort_index().value_counts(bins=bins)
s = autos.groupby(pd.cut(autos['price'], bins=bins)).size()
print(s)

price
(-100, 0]       1421
(0, 100]         475
(100, 200]       711
(200, 300]       895
(300, 400]       898
(400, 500]      1270
(500, 600]      1177
(600, 700]      1115
(700, 800]      1200
(800, 900]      1136
(900, 1000]     1701
(1000, 1100]     539
(1100, 1200]    1089
(1200, 1300]     920
(1300, 1400]     771
(1400, 1500]    1275
(1500, 1600]     645
(1600, 1700]     669
(1700, 1800]     728
(1800, 1900]     572
(1900, 2000]    1147
(2000, 2100]     264
(2100, 2200]     568
(2200, 2300]     554
(2300, 2400]     423
(2400, 2500]     995
(2500, 2600]     386
(2600, 2700]     416
(2700, 2800]     562
(2800, 2900]     455
                ...
(6900, 7000]     433
(7000, 7100]      27
(7100, 7200]     136
(7200, 7300]     149
(7300, 7400]     122
(7400, 7500]     356
(7500, 7600]      96
(7600, 7700]     105
(7700, 7800]     178
(7800, 7900]     210
(7900, 8000]     424
(8000, 8100]      29
(8100, 8200]      95
(8200, 8300]     106
(8300, 8400]      79
(8400, 8500]     332
(8500, 8600]      69
(8600, 8700]      96
(8700, 8800]     128
(8800, 8900]     187
(8900, 9000]     339
(9000, 9100]      21
(9100, 9200]      84
(9200, 9300]      98
(9300, 9400]      61
(9400, 9500]     267
(9500, 9600]      33
(9600, 9700]      55
(9700, 9800]     126
(9800, 9900]     175
Length: 100, dtype: int64

In [23]:
autos.drop(autos[autos['price'].between(350001,100000000000)].index, inplace = True)

In [24]:
autos.shape

(49986, 20)

### Dropped all records with a price greater than 350K. Seemed like alot of those prices were inflated or default values (values like 1234566)

## Dates and Stuff

In [25]:
autos.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 49986 entries, 0 to 49999
Data columns (total 20 columns):
date_crawled          49986 non-null object
name                  49986 non-null object
seller                49986 non-null object
offer_type            49986 non-null object
price                 49986 non-null float64
abtest                49986 non-null object
vehicle_type          44894 non-null object
registration_year     49986 non-null int64
gearbox               47310 non-null object
power_ps              49986 non-null int64
model                 47233 non-null object
odometer_km           49986 non-null float64
registration_month    49986 non-null int64
fuel_type             45509 non-null object
brand                 49986 non-null object
unrepaired_damage     40163 non-null object
ad_created            49986 non-null object
nr_of_pictures        49986 non-null int64
postal_code           49986 non-null int64
last_seen             49986 non-null object
dtypes: float64(2), int64(5), object(13)
memory usage: 8.0+ MB

In [26]:
autos[['date_crawled','ad_created','last_seen']].head()

          date_crawled           ad_created            last_seen
0  2016-03-26 17:47:46  2016-03-26 00:00:00  2016-04-06 06:45:54
1  2016-04-04 13:38:56  2016-04-04 00:00:00  2016-04-06 14:45:08
2  2016-03-26 18:57:24  2016-03-26 00:00:00  2016-04-06 20:15:37
3  2016-03-12 16:58:10  2016-03-12 00:00:00  2016-03-15 03:16:28
4  2016-04-01 14:38:50  2016-04-01 00:00:00  2016-04-01 14:38:50

In [27]:
autos['date_crawled'].str[:10].value_counts(normalize = True, dropna = False).sort_index(ascending = True)

2016-03-05    0.025387
2016-03-06    0.013944
2016-03-07    0.035970
2016-03-08    0.033269
2016-03-09    0.033209
2016-03-10    0.032129
2016-03-11    0.032489
2016-03-12    0.036770
2016-03-13    0.015564
2016-03-14    0.036630
2016-03-15    0.033990
2016-03-16    0.029508
2016-03-17    0.031509
2016-03-18    0.013064
2016-03-19    0.034910
2016-03-20    0.037831
2016-03-21    0.037490
2016-03-22    0.032909
2016-03-23    0.032389
2016-03-24    0.029108
2016-03-25    0.031749
2016-03-26    0.032489
2016-03-27    0.031049
2016-03-28    0.034850
2016-03-29    0.034150
2016-03-30    0.033629
2016-03-31    0.031909
2016-04-01    0.033809
2016-04-02    0.035410
2016-04-03    0.038691
2016-04-04    0.036490
2016-04-05    0.013104
2016-04-06    0.003181
2016-04-07    0.001420
Name: date_crawled, dtype: float64

### Date crawled falls after April 4th. Generally, % of volume per date is between 3% to 4%. Occasional % of volume drops below 2%.

In [28]:
autos['ad_created'].str[:10].value_counts(normalize=True, dropna=False).sort_index(ascending = True)

2015-06-11    0.000020
2015-08-10    0.000020
2015-09-09    0.000020
2015-11-10    0.000020
2015-12-05    0.000020
2015-12-30    0.000020
2016-01-03    0.000020
2016-01-07    0.000020
2016-01-10    0.000040
2016-01-13    0.000020
2016-01-14    0.000020
2016-01-16    0.000020
2016-01-22    0.000020
2016-01-27    0.000060
2016-01-29    0.000020
2016-02-01    0.000020
2016-02-02    0.000040
2016-02-05    0.000040
2016-02-07    0.000020
2016-02-08    0.000020
2016-02-09    0.000040
2016-02-11    0.000020
2016-02-12    0.000060
2016-02-14    0.000040
2016-02-16    0.000020
2016-02-17    0.000020
2016-02-18    0.000040
2016-02-19    0.000060
2016-02-20    0.000040
2016-02-21    0.000060
                ...
2016-03-09    0.033229
2016-03-10    0.031869
2016-03-11    0.032789
2016-03-12    0.036610
2016-03-13    0.016925
2016-03-14    0.035230
2016-03-15    0.033749
2016-03-16    0.030008
2016-03-17    0.031189
2016-03-18    0.013724
2016-03-19    0.033849
2016-03-20    0.037871
2016-03-21    0.037691
2016-03-22    0.032769
2016-03-23    0.032189
2016-03-24    0.029088
2016-03-25    0.031889
2016-03-26    0.032569
2016-03-27    0.030909
2016-03-28    0.034970
2016-03-29    0.034110
2016-03-30    0.033449
2016-03-31    0.031909
2016-04-01    0.033809
2016-04-02    0.035090
2016-04-03    0.038931
2016-04-04    0.036850
2016-04-05    0.011843
2016-04-06    0.003261
2016-04-07    0.001280
Name: ad_created, Length: 76, dtype: float64

## Frequency of Ad Creation appears to increase in or near March 2016

In [29]:
autos['last_seen'].str[:10].value_counts(normalize=True, dropna=False).sort_index(ascending = True)

2016-03-05    0.001080
2016-03-06    0.004421
2016-03-07    0.005362
2016-03-08    0.007582
2016-03-09    0.009843
2016-03-10    0.010763
2016-03-11    0.012524
2016-03-12    0.023807
2016-03-13    0.008983
2016-03-14    0.012804
2016-03-15    0.015884
2016-03-16    0.016445
2016-03-17    0.027928
2016-03-18    0.007422
2016-03-19    0.015744
2016-03-20    0.020706
2016-03-21    0.020726
2016-03-22    0.021586
2016-03-23    0.018585
2016-03-24    0.019565
2016-03-25    0.019205
2016-03-26    0.016965
2016-03-27    0.016024
2016-03-28    0.020846
2016-03-29    0.022326
2016-03-30    0.024847
2016-03-31    0.023827
2016-04-01    0.023106
2016-04-02    0.024887
2016-04-03    0.025367
2016-04-04    0.024627
2016-04-05    0.124275
2016-04-06    0.220982
2016-04-07    0.130957
Name: last_seen, dtype: float64

## Almost 50% of ads were last seen on April 5, 6, and 7. The rest of the ads have a more equal distribution across all dates

In [30]:
autos['registration_year'].describe()

count    49986.000000
mean      2005.075721
std        105.727161
min       1000.000000
25%       1999.000000
50%       2003.000000
75%       2008.000000
max       9999.000000
Name: registration_year, dtype: float64

## Pretty weird to have a minimum of 1000 and max of 9999 for a year

In [31]:
autos[autos['registration_year']>2016]['ad_created'].head()

10    2016-03-14 00:00:00
55    2016-03-06 00:00:00
65    2016-04-04 00:00:00
68    2016-04-03 00:00:00
84    2016-03-27 00:00:00
Name: ad_created, dtype: object

In [32]:
autos[autos['registration_year']<1900].shape

(6, 20)

In [33]:
autos = autos[autos['registration_year'].between(1900,2016)]

## Including only car ads where the cars registration year is between 1900 and 2016

In [34]:
autos['registration_year'].value_counts(normalize=True)

2000    0.069852
2005    0.062792
1999    0.062438
2004    0.057002
2003    0.056794
2006    0.056377
2001    0.056273
2002    0.052753
1998    0.051087
2007    0.047984
2008    0.046464
2009    0.043673
1997    0.042236
2011    0.034030
2010    0.033260
1996    0.030073
2012    0.027553
2016    0.027408
1995    0.027324
2013    0.016786
2014    0.013850
1994    0.013745
1993    0.009268
2015    0.008310
1990    0.008226
1992    0.008122
1991    0.007414
1989    0.003770
1988    0.002957
1985    0.002166
          ...
1966    0.000458
1977    0.000458
1975    0.000396
1969    0.000396
1965    0.000354
1964    0.000250
1910    0.000187
1963    0.000187
1959    0.000146
1961    0.000125
1956    0.000104
1958    0.000083
1937    0.000083
1962    0.000083
1950    0.000062
1954    0.000042
1941    0.000042
1934    0.000042
1957    0.000042
1951    0.000042
1955    0.000042
1931    0.000021
1953    0.000021
1943    0.000021
1938    0.000021
1939    0.000021
1927    0.000021
1929    0.000021
1948    0.000021
1952    0.000021
Name: registration_year, Length: 78, dtype: float64

## Working on Aggregating by Brand

In [35]:
autos['brand'].value_counts(normalize=True)

volkswagen        0.212117
bmw               0.110026
opel              0.108172
mercedes_benz     0.095364
audi              0.086409
ford              0.069768
renault           0.047359
peugeot           0.029532
fiat              0.025866
seat              0.018181
skoda             0.016036
mazda             0.015141
nissan            0.015099
smart             0.013912
citroen           0.013912
toyota            0.012475
sonstige_autos    0.010892
hyundai           0.009851
volvo             0.009247
mini              0.008643
mitsubishi        0.008143
honda             0.007852
kia               0.007102
alfa_romeo        0.006623
porsche           0.006102
suzuki            0.005915
chevrolet         0.005706
chrysler          0.003665
dacia             0.002562
daihatsu          0.002562
jeep              0.002249
subaru            0.002187
land_rover        0.002041
saab              0.001604
jaguar            0.001583
trabant           0.001562
daewoo            0.001500
rover             0.001354
lancia            0.001083
lada              0.000604
Name: brand, dtype: float64

In [36]:
s = autos['brand'].value_counts(normalize=True)
s[s>0.01].index

Index(['volkswagen', 'bmw', 'opel', 'mercedes_benz', 'audi', 'ford', 'renault',
       'peugeot', 'fiat', 'seat', 'skoda', 'mazda', 'nissan', 'smart',
       'citroen', 'toyota', 'sonstige_autos'],
      dtype='object')

In [37]:
brand_types = s[s>0.01].index

In [38]:
print(brand_types)

Index(['volkswagen', 'bmw', 'opel', 'mercedes_benz', 'audi', 'ford', 'renault',
       'peugeot', 'fiat', 'seat', 'skoda', 'mazda', 'nissan', 'smart',
       'citroen', 'toyota', 'sonstige_autos'],
      dtype='object')

In [50]:
autos.loc[autos['brand'] == b]

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,registration_year,gearbox,power_ps,...,odometer_km,registration_month,fuel_type,brand,unrepaired_damage,ad_created,nr_of_pictures,postal_code,last_seen,b
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,8990.0,test,limousine,2009,manuell,102,...,70000.0,7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37,5811.516953
6,2016-03-20 17:55:21,VW_Golf_III_GT_Special_Electronic_Green_Metall...,privat,Angebot,300.0,test,limousine,1995,manuell,90,...,150000.0,8,benzin,volkswagen,NaN,2016-03-20 00:00:00,0,31535,2016-03-23 02:48:59,5811.516953
7,2016-03-16 18:55:19,Golf_IV_1.9_TDI_90PS,privat,Angebot,1990.0,control,limousine,1998,manuell,90,...,150000.0,12,diesel,volkswagen,nein,2016-03-16 00:00:00,0,53474,2016-04-07 03:17:32,5811.516953
17,2016-03-29 11:46:22,Volkswagen_Scirocco_2_G60,privat,Angebot,5500.0,test,coupe,1990,manuell,205,...,150000.0,6,benzin,volkswagen,nein,2016-03-29 00:00:00,0,74821,2016-04-05 20:46:26,5811.516953
26,2016-04-03 22:46:28,Volkswagen_Polo_Fox,privat,Angebot,777.0,control,kleinwagen,1992,manuell,54,...,125000.0,2,benzin,volkswagen,nein,2016-04-03 00:00:00,0,38110,2016-04-05 23:46:48,5811.516953
38,2016-03-21 15:51:10,Volkswagen_Golf_1.4_Special,privat,Angebot,2850.0,control,limousine,2002,manuell,75,...,125000.0,2,benzin,volkswagen,nein,2016-03-21 00:00:00,0,63674,2016-03-28 12:16:06,5811.516953
40,2016-03-07 14:50:03,VW_Golf__4_Cabrio_2.0_GTI_16V___Leder_MFA_Alus...,privat,Angebot,3500.0,control,cabrio,1999,manuell,150,...,150000.0,1,benzin,volkswagen,nein,2016-03-07 00:00:00,0,6780,2016-03-12 02:15:52,5811.516953
41,2016-03-10 10:46:08,Passat_3b_1.9_TDI_Highline__angemeldet_mit_tuv...,privat,Angebot,3200.0,test,kombi,2003,manuell,131,...,150000.0,7,NaN,volkswagen,nein,2016-03-10 00:00:00,0,28259,2016-04-06 20:19:08,5811.516953
42,2016-03-22 21:37:03,Vw_Polo_l.0_/60_PS_Blue_Motion_Technologie_Son...,privat,Angebot,11900.0,control,kleinwagen,2014,manuell,60,...,20000.0,7,benzin,volkswagen,NaN,2016-03-22 00:00:00,0,26629,2016-04-06 18:44:39,5811.516953
57,2016-03-12 11:46:56,Volkswagen_Passat_Variant_2.0_TDI_DPF_Trendline,privat,Angebot,4100.0,test,kombi,2007,manuell,140,...,150000.0,2,diesel,volkswagen,nein,2016-03-12 00:00:00,0,27404,2016-03-20 09:49:08,5811.516953
58,2016-03-30 12:25:18,Volkswagen_Golf_1.4,privat,Angebot,4200.0,control,limousine,2004,manuell,75,...,125000.0,11,benzin,volkswagen,nein,2016-03-30 00:00:00,0,56073,2016-04-01 08:29:34,5811.516953
60,2016-03-23 21:55:29,VW_Vento_1_8_Tuev_NEU,privat,Angebot,1199.0,test,limousine,1996,NaN,90,...,150000.0,0,benzin,volkswagen,nein,2016-03-23 00:00:00,0,1665,2016-04-06 05:45:36,5811.516953
62,2016-03-12 17:41:11,Volkswagen_Golf_Plus_1.6_FSI_Goal,privat,Angebot,6300.0,test,bus,2006,manuell,116,...,125000.0,4,benzin,volkswagen,nein,2016-03-12 00:00:00,0,80939,2016-04-03 08:16:15,5811.516953
73,2016-03-18 23:41:21,VW_T3_Doka_1_7D_TÃœV_07/2017,privat,Angebot,2700.0,test,bus,1986,manuell,57,...,125000.0,8,diesel,volkswagen,NaN,2016-03-18 00:00:00,0,82205,2016-04-05 23:16:13,5811.516953
96,2016-03-07 20:56:44,Volkswagen_Golf_Variant_1.9_TDI_Joker,privat,Angebot,1000.0,test,kombi,1997,manuell,110,...,150000.0,6,diesel,volkswagen,nein,2016-03-07 00:00:00,0,96106,2016-04-05 23:45:36,5811.516953
104,2016-03-12 12:57:24,Volkswagen_Multivan_T4_TDI_Highline,privat,Angebot,12000.0,test,bus,2001,manuell,151,...,150000.0,7,diesel,volkswagen,nein,2016-03-12 00:00:00,0,16540,2016-03-24 04:20:05,5811.516953
112,2016-03-24 00:32:33,Volkswagen_Polo_75_Servo,privat,Angebot,999.0,control,kleinwagen,1996,manuell,75,...,150000.0,9,benzin,volkswagen,nein,2016-03-23 00:00:00,0,35745,2016-03-30 14:16:40,5811.516953
114,2016-03-23 17:51:11,Volkswagen_Passat_Variant_2.0_TDI_BlueMotion_T...,privat,Angebot,18700.0,control,kombi,2013,manuell,140,...,60000.0,11,diesel,volkswagen,nein,2016-03-23 00:00:00,0,38440,2016-04-05 22:17:49,5811.516953
118,2016-03-12 05:03:00,VW_Sharan_V6_204_PS_Karosse_Rohkarosse_mit_Pap...,privat,Angebot,0.0,control,bus,2001,manuell,204,...,150000.0,7,benzin,volkswagen,ja,2016-03-12 00:00:00,0,15370,2016-03-12 21:44:23,5811.516953
120,2016-03-24 22:56:04,Golf_VII_1_4_TSI_Highline_Autom_Panorama_Alcan...,privat,Angebot,18900.0,control,limousine,2013,automatik,122,...,30000.0,7,benzin,volkswagen,nein,2016-03-24 00:00:00,0,58708,2016-03-31 11:15:33,5811.516953
124,2016-03-16 14:51:35,Passat_2.0_TDI_DPF_Comfortline,privat,Angebot,3100.0,test,limousine,2006,NaN,0,...,150000.0,8,diesel,volkswagen,nein,2016-03-16 00:00:00,0,83071,2016-03-16 14:51:35,5811.516953
127,2016-03-21 15:49:37,Volkswagen_polo_6n_tuev_11/2016,privat,Angebot,190.0,control,kleinwagen,1995,manuell,60,...,30000.0,3,benzin,volkswagen,nein,2016-03-21 00:00:00,0,30823,2016-03-22 20:18:58,5811.516953
128,2016-03-10 12:06:20,Volkswagen_Lupo_1.0_Oxford,privat,Angebot,1950.0,control,kleinwagen,2003,manuell,50,...,90000.0,4,benzin,volkswagen,nein,2016-03-10 00:00:00,0,56332,2016-03-20 04:17:16,5811.516953
147,2016-03-15 14:52:55,VW_Polo_Ersatzteilspender,privat,Angebot,600.0,control,NaN,2000,manuell,60,...,125000.0,6,benzin,volkswagen,NaN,2016-03-15 00:00:00,0,18311,2016-03-17 09:44:18,5811.516953
148,2016-03-17 07:57:07,Polo_6N_mit_tuev_bis_03._2017_fuer_500_euro,privat,Angebot,500.0,control,kleinwagen,1996,manuell,60,...,125000.0,8,benzin,volkswagen,ja,2016-03-17 00:00:00,0,38440,2016-04-06 05:16:35,5811.516953
151,2016-03-27 09:55:44,Volkswagen_Golf_Cabrio_2.0_Generation,privat,Angebot,3250.0,test,cabrio,2000,manuell,116,...,150000.0,6,benzin,volkswagen,nein,2016-03-27 00:00:00,0,14169,2016-04-07 04:46:03,5811.516953
154,2016-04-01 13:56:00,Volkswagen_Transporter_T4_TDI_LKW/Wohmo,privat,Angebot,3950.0,test,bus,1998,manuell,102,...,150000.0,6,diesel,volkswagen,nein,2016-04-01 00:00:00,0,23554,2016-04-05 08:51:08,5811.516953
155,2016-03-07 18:45:47,VW_Touran__140_PS,privat,Angebot,23900.0,control,bus,2012,automatik,0,...,30000.0,8,benzin,volkswagen,NaN,2016-03-07 00:00:00,0,85080,2016-04-07 03:15:35,5811.516953
161,2016-03-30 21:54:12,Volkswagen_Touareg_3.0_V6_TDI_DPF,privat,Angebot,11000.0,test,suv,2008,manuell,239,...,150000.0,7,diesel,volkswagen,ja,2016-03-30 00:00:00,0,57462,2016-04-05 13:16:08,5811.516953
167,2016-04-02 19:43:45,Suche_VW_Multivan_Innenausstattung_Set_oder_TE...,privat,Angebot,0.0,control,NaN,2011,NaN,0,...,5000.0,0,NaN,volkswagen,NaN,2016-04-02 00:00:00,0,64739,2016-04-06 19:45:08,5811.516953
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49845,2016-03-21 00:50:15,Schlachte_VW_Sharan_vr6_Automatik___no_GTI_16V...,privat,Angebot,1.0,test,NaN,2000,automatik,174,...,5000.0,6,benzin,volkswagen,nein,2016-03-20 00:00:00,0,14621,2016-04-05 21:16:16,5811.516953
49847,2016-04-03 22:58:18,Volkswagen_Golf_1.4_TSI_BlueMotion_Technology_...,privat,Angebot,17499.0,control,limousine,2013,automatik,140,...,40000.0,6,benzin,volkswagen,nein,2016-04-03 00:00:00,0,71665,2016-04-06 00:45:08,5811.516953
49850,2016-03-21 06:36:54,Vw_Passat_2_0tdi,privat,Angebot,5650.0,control,limousine,2006,manuell,140,...,30000.0,12,diesel,volkswagen,nein,2016-03-21 00:00:00,0,27751,2016-04-06 01:50:22,5811.516953
49852,2016-04-01 04:02:25,TOP__Golf_3_1.8l,privat,Angebot,1450.0,control,NaN,2016,NaN,75,...,150000.0,7,benzin,volkswagen,NaN,2016-04-01 00:00:00,0,67661,2016-04-05 03:17:29,5811.516953
49857,2016-03-21 17:40:01,Volkswagen_Golf_1.6_TDI_BlueMotion_Technology_...,privat,Angebot,16490.0,control,limousine,2013,manuell,105,...,70000.0,2,diesel,volkswagen,nein,2016-03-21 00:00:00,0,27798,2016-04-06 17:46:46,5811.516953
49859,2016-03-26 01:00:17,Golf_4___5Tuerig_schwarz_Spezial_Edition,privat,Angebot,1649.0,test,limousine,2002,manuell,75,...,150000.0,1,benzin,volkswagen,nein,2016-03-25 00:00:00,0,96257,2016-03-27 20:15:40,5811.516953
49864,2016-03-08 20:58:47,Golf_5_1_9_tdi.....2jahre_tuev,privat,Angebot,3500.0,control,kleinwagen,2004,manuell,120,...,150000.0,11,diesel,volkswagen,nein,2016-03-08 00:00:00,0,26388,2016-03-15 11:46:54,5811.516953
49866,2016-03-29 23:43:12,Golf_III_zum_Ausschlachten,privat,Angebot,385.0,control,kleinwagen,1996,manuell,75,...,70000.0,5,benzin,volkswagen,ja,2016-03-29 00:00:00,0,38690,2016-04-06 10:45:00,5811.516953
49867,2016-03-12 17:59:44,VOLKSWAGEN_Tiguan_1.4_TSI_Sport_&_Style_4Motion,privat,Angebot,9800.0,test,suv,2008,manuell,150,...,150000.0,4,benzin,volkswagen,nein,2016-03-12 00:00:00,0,45879,2016-03-12 17:59:44,5811.516953
49869,2016-03-17 19:56:31,Volkswagen_Sharan_1.9_TDI_Family,privat,Angebot,2699.0,control,bus,2000,manuell,90,...,150000.0,11,diesel,volkswagen,nein,2016-03-17 00:00:00,0,36251,2016-03-17 19:56:31,5811.516953
49873,2016-04-02 09:55:27,VW_POLO_6_N_mit_TÃœV_12.2016,privat,Angebot,499.0,control,kleinwagen,1997,manuell,50,...,150000.0,10,benzin,volkswagen,nein,2016-04-02 00:00:00,0,97475,2016-04-02 09:55:27,5811.516953
49875,2016-03-29 13:55:06,Golf_5_Variant_ab_April_zu_verkaufen,privat,Angebot,7900.0,control,kombi,2009,manuell,80,...,90000.0,8,benzin,volkswagen,NaN,2016-03-29 00:00:00,0,16269,2016-04-05 23:17:47,5811.516953
49881,2016-04-02 21:52:37,Volkswagen_Golf_Syncro_CL,privat,Angebot,1050.0,test,limousine,1989,manuell,98,...,150000.0,11,benzin,volkswagen,ja,2016-04-02 00:00:00,0,88605,2016-04-06 23:44:49,5811.516953
49892,2016-03-14 14:57:03,Vw_T_4_Bus,privat,Angebot,6000.0,control,bus,2003,manuell,0,...,150000.0,4,diesel,volkswagen,nein,2016-03-14 00:00:00,0,71144,2016-03-31 02:16:20,5811.516953
49896,2016-03-25 19:51:40,Vw_golf_1_cabrio,privat,Angebot,200.0,test,cabrio,1990,automatik,0,...,150000.0,4,NaN,volkswagen,ja,2016-03-25 00:00:00,0,70597,2016-03-27 08:17:20,5811.516953
49905,2016-03-23 20:54:05,Volkswagen_Lupo_1.4,privat,Angebot,950.0,test,kleinwagen,2000,manuell,60,...,150000.0,11,benzin,volkswagen,ja,2016-03-23 00:00:00,0,93333,2016-03-25 05:47:05,5811.516953
49925,2016-03-30 11:46:18,Volkswagen_Passat_Variant_1.9_TDI_Comfortl._mi...,privat,Angebot,2490.0,test,kombi,2003,manuell,131,...,150000.0,4,diesel,volkswagen,nein,2016-03-30 00:00:00,0,4316,2016-04-07 02:17:24,5811.516953
49926,2016-03-13 00:36:56,Vw_golf_cabrio,privat,Angebot,850.0,control,NaN,2000,NaN,0,...,150000.0,0,NaN,volkswagen,NaN,2016-03-12 00:00:00,0,53227,2016-03-15 17:17:49,5811.516953
49933,2016-04-03 23:55:34,Volkswagen_New_Beetle_1.9_TDI,privat,Angebot,5500.0,control,limousine,2001,manuell,90,...,125000.0,1,diesel,volkswagen,nein,2016-04-03 00:00:00,0,41352,2016-04-06 08:16:28,5811.516953
49949,2016-03-26 20:48:26,VW_Golf_3__1.4__60_PS__Ratte__Rost__09/16_TÃœV_...,privat,Angebot,650.0,control,kleinwagen,1993,manuell,60,...,150000.0,9,benzin,volkswagen,nein,2016-03-26 00:00:00,0,86647,2016-04-06 11:17:55,5811.516953
49952,2016-03-21 21:45:33,VW_POLO__9N3_Silber_1_2_Ltr._5_tuerer__96_tsd....,privat,Angebot,4300.0,control,kleinwagen,2005,manuell,64,...,100000.0,3,benzin,volkswagen,nein,2016-03-21 00:00:00,0,35418,2016-04-07 01:44:58,5811.516953
49955,2016-03-30 12:50:18,Golf_1.9_TDI_DPF_4mot_GT_Sport,privat,Angebot,3400.0,control,limousine,2008,NaN,0,...,150000.0,11,diesel,volkswagen,nein,2016-03-30 00:00:00,0,83512,2016-03-30 12:50:18,5811.516953
49958,2016-03-08 18:58:02,Golf_3_2.8_vr6_highline,privat,Angebot,2900.0,test,limousine,1994,manuell,174,...,150000.0,5,benzin,volkswagen,NaN,2016-03-08 00:00:00,0,24241,2016-04-07 14:57:40,5811.516953
49961,2016-03-14 19:06:17,Golf_2.0_TDI_Sportline_Sonderproduktion,privat,Angebot,3200.0,control,limousine,2007,manuell,140,...,150000.0,7,diesel,volkswagen,NaN,2016-03-14 00:00:00,0,65760,2016-03-14 19:06:17,5811.516953
49967,2016-03-12 11:50:17,VW_Passat_2_0_TDI_comfortline,privat,Angebot,4999.0,test,kombi,2006,manuell,140,...,150000.0,5,diesel,volkswagen,NaN,2016-03-12 00:00:00,0,70619,2016-03-17 09:45:12,5811.516953
49971,2016-03-29 14:54:12,W.Lupo_1.0,privat,Angebot,950.0,test,kleinwagen,2001,manuell,50,...,150000.0,4,benzin,volkswagen,nein,2016-03-29 00:00:00,0,65197,2016-03-29 20:41:51,5811.516953
49974,2016-03-20 10:52:31,Golf_1_Cabrio_Tuev_Neu_viele_Extras_alles_eing...,privat,Angebot,0.0,control,cabrio,1983,manuell,70,...,150000.0,2,benzin,volkswagen,nein,2016-03-20 00:00:00,0,8209,2016-03-27 19:48:16,5811.516953
49979,2016-03-20 18:38:40,Volkswagen_Polo_1.6_TDI_Style,privat,Angebot,11000.0,test,kleinwagen,2011,manuell,90,...,70000.0,11,diesel,volkswagen,nein,2016-03-20 00:00:00,0,48455,2016-04-07 01:45:12,5811.516953
49985,2016-04-02 16:38:23,Verkaufe_meinen_vw_vento!,privat,Angebot,1000.0,control,NaN,1995,automatik,0,...,150000.0,0,benzin,volkswagen,NaN,2016-04-02 00:00:00,0,30900,2016-04-06 15:17:52,5811.516953
49989,2016-03-11 19:50:37,VW_Polo_zum_Ausschlachten_oder_Wiederaufbau,privat,Angebot,150.0,test,kleinwagen,1997,manuell,0,...,150000.0,5,benzin,volkswagen,ja,2016-03-11 00:00:00,0,21244,2016-03-12 10:17:55,5811.516953

In [54]:
brand_types = s[s>0.01].index
avg_price = {}

for b in brand_types:
    brand_only = autos[autos['brand'] == b]
    avg_price[b] = brand_only['price'].mean()
    
avg_price

{'audi': 9093.65003615329,
 'bmw': 8102.536248343744,
 'citroen': 3699.935628742515,
 'fiat': 2711.8011272141707,
 'ford': 3652.095223880597,
 'mazda': 4010.7716643741405,
 'mercedes_benz': 8485.239571958942,
 'nissan': 4664.891034482758,
 'opel': 2876.716403542549,
 'peugeot': 3039.4682651622,
 'renault': 2395.4164467897976,
 'seat': 4296.492554410081,
 'skoda': 6334.91948051948,
 'smart': 3542.706586826347,
 'sonstige_autos': 10805.078393881453,
 'toyota': 5115.33388981636,
 'volkswagen': 5231.081983308787}

## Audi, BMW, and Benz are more expensive
## Ford and Open are less Expesnive
## Volkswagen is in between

In [68]:
avg_mileage = {}
for b in brand_types:
    brand_only = autos[autos['brand'] == b]
    avg_mileage[b] = int(brand_only['odometer_km'].mean())
    #avg_mileage[b] = brand_only['price'].mean()
    
avg_mileage

{'audi': 129287,
 'bmw': 132431,
 'citroen': 119580,
 'fiat': 116553,
 'ford': 124068,
 'mazda': 124745,
 'mercedes_benz': 130856,
 'nissan': 118572,
 'opel': 129223,
 'peugeot': 127136,
 'renault': 128183,
 'seat': 121563,
 'skoda': 110954,
 'smart': 99595,
 'sonstige_autos': 87466,
 'toyota': 115709,
 'volkswagen': 128724}

In [69]:
avg_price = {}
for b in brand_types:
    brand_only = autos[autos['brand'] == b]
    #avg_price[b] = brand_only['odometer_km'].mean()
    avg_price[b] = int(brand_only['price'].mean())
    
avg_price

{'audi': 9093,
 'bmw': 8102,
 'citroen': 3699,
 'fiat': 2711,
 'ford': 3652,
 'mazda': 4010,
 'mercedes_benz': 8485,
 'nissan': 4664,
 'opel': 2876,
 'peugeot': 3039,
 'renault': 2395,
 'seat': 4296,
 'skoda': 6334,
 'smart': 3542,
 'sonstige_autos': 10805,
 'toyota': 5115,
 'volkswagen': 5231}

In [70]:
brand_avg_mileage = pd.Series(avg_mileage) 
brand_avg_price = pd.Series(avg_price)
print(brand_avg_price)

audi               9093
bmw                8102
citroen            3699
fiat               2711
ford               3652
mazda              4010
mercedes_benz      8485
nissan             4664
opel               2876
peugeot            3039
renault            2395
seat               4296
skoda              6334
smart              3542
sonstige_autos    10805
toyota             5115
volkswagen         5231
dtype: int64

In [71]:
df = pd.DataFrame(brand_avg_mileage, columns = ['mean_mileage'])
df

                mean_mileage
audi                  129287
bmw                   132431
citroen               119580
fiat                  116553
ford                  124068
mazda                 124745
mercedes_benz         130856
nissan                118572
opel                  129223
peugeot               127136
renault               128183
seat                  121563
skoda                 110954
smart                  99595
sonstige_autos         87466
toyota                115709
volkswagen            128724

In [72]:
df['mean_price'] = brand_avg_price

In [73]:
df

                mean_mileage  mean_price
audi                  129287        9093
bmw                   132431        8102
citroen               119580        3699
fiat                  116553        2711
ford                  124068        3652
mazda                 124745        4010
mercedes_benz         130856        8485
nissan                118572        4664
opel                  129223        2876
peugeot               127136        3039
renault               128183        2395
seat                  121563        4296
skoda                 110954        6334
smart                  99595        3542
sonstige_autos         87466       10805
toyota                115709        5115
volkswagen            128724        5231

### Smart car has one of the lowest price and mean mileage
### Sonstige autos, Benz, Audi and BMW have the highest mean prices